* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  color: white;
}

body {
  background-image: url(imagens/cifradecesar.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bold;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 152, 219, 0.5);
  padding: 20px;
  margin: 0, auto;
}

main {
  height: 750px;
}

.container {
  margin: 5% 15%;
  height: 88%;
  width: 70%;
  margin: 0, 0;
  background-color: rgba(128, 152, 219, 0.5);
}

.topo {
  padding-top: 20px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.selectCriptografia {
  width: 50%;
  margin-left: 15%;
}

.criptografia,
.mensagem {
  font-size: 18px;
  margin-bottom: 10px;
}

select {
  width: 45%;
  background: rgba(0, 0, 0, 0.76);
  border: 1px solid #fff;
  border-radius: 10px;
  margin: 0 10px;
  padding: 5px;
  color: white;
}

.rotacao,
.rotacaop {
  visibility: hidden;
}

.radioEscolha {
  width: 40%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
}

.codificar {
  margin-bottom: 10px;
}

.AreaTexto {
  margin-top: 7%;
  display: flex;
  justify-content: space-around;
}
textarea {
  font-size: 20px;
}

.textAreaResultado {
  width: 100%;
  margin-left: 15%;
}

.mensagem {
  text-transform: uppercase;
}

.receber {
  background: rgba(0, 0, 0, 0.76);
  border: 1px solid #fff;
  border-radius: 10px;
  width: 40%;
  margin-right: 30px;
  color: white;
  padding: 10px;
}

.resultado {
  background: rgba(0, 0, 0, 0.76);
  border: 1px solid #fff;
  border-radius: 10px;
  width: 40%;
  color: white;
  padding: 10px;
}
a {
  text-decoration: none;
}

.botao {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.btnLimpa {
  display: flex;
  justify-content: flex-end;
  margin-top:3.5% ;
}

button {
  width: 200px;
  height: 45px;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  border: 1px solid #fff;
  cursor: pointer;
  background: black;
  outline: none;
}

button:hover {
  background: rgba(128, 152, 219, 0.5);
  border: 1px solid #fff;
  outline: none;
}

footer {
  text-align: center;
  background: rgba(128, 152, 219, 0.5);
  padding: 20px 0;
  width: 100%;
}

footer p {
  font-size: 20px;
}

img {
  width: 45px;
}
@media screen and (max-width: 700px) {
  
  main{
      height: auto;
  }

  .container{
      margin: 5% 8%;
      height: 90%;
      width: 85%;
  }

  .topo{
      display: block;
  }

  .selectCriptografia{
      margin: 0 30px;
  }

  .criptografia{
      width: 300px;
  }

  .escolhaCriptografia{
      display: flex;
  }

  select{
      width: max-content;
      margin-bottom: 20px;
  }

  .radioEscolha{
      width: auto;
      flex-direction: row;
  }

  .descodificar{
      margin-left: 10px;
  }

 
  .textAreaResultado{
      display: flex;
      flex-direction: column;
      margin: 10px auto;
  }

  .mensagem{
      margin: 0 20px;
  }

  .receber, .resultado{
      width: auto;
      margin: 15px auto;
      background-color: rgba(0, 0, 0, 0.76)
  }

  button{
      margin-bottom: 20px;
  }

  
  footer{
      flex-direction: column;
  }
}